In [3]:
import pandas as pd #Import the .csv file 
dest = pd.read_csv("Destination_Data.csv")
print(dest)

    Destinations  Feedback   Average Hotel Star Rating  \
0          Spain          8                          3
1          Malta         10                          4
2      Mauritius         10                          5
3         France         10                          4
4    Switzerland          9                          4
5        Holland          8                          3
6       Scotland          9                          3
7         Turkey          7                          3
8         Greece          7                          4
9            USA          9                          5
10         Japan          9                          5
11       Austria          8                          5
12      Portugal          6                          4
13       Iceland          9                          4
14  South Africa          7                          3

    Number of All inclusive hotels Most Visited city
0                                3         Barcelona
1                                5          Valletta
2                                2        Port Louis
3                                5             Paris
4                                3            Zurich
5                                5         Amsterdam
6                                6           Glasgow
7                                4          Istanbul
8                                5            Athens
9                                7           Florida
10                               8         Hong Kong
11                               5            Vienna
12                               6            Lisbon
13                               6         Reykjavik
14                               4    Rio de Janeiro

In [4]:
import pandas as pd #print the rows from 3 to 8
dest = pd.read_csv("Destination_Data.csv")
print(dest.iloc[2:8])

  Destinations  Feedback   Average Hotel Star Rating  \
2    Mauritius         10                          5
3       France         10                          4
4  Switzerland          9                          4
5      Holland          8                          3
6     Scotland          9                          3
7       Turkey          7                          3

   Number of All inclusive hotels Most Visited city
2                               2        Port Louis
3                               5             Paris
4                               3            Zurich
5                               5         Amsterdam
6                               6           Glasgow
7                               4          Istanbul

In [5]:
#find the mean of the All inclusive hotels
import pandas as pd 
dest = pd.read_csv("Destination_Data.csv")
dest["Number of All inclusive hotels"].mean()

4.933333333333334

In [7]:
#Lowest scoring destination
import pandas as pd
dest = pd.read_csv("Destination_Data.csv")
dest.min()

Destinations                        Austria
Feedback                                  6
Average Hotel Star Rating                 3
Number of All inclusive hotels            2
Most Visited city                 Amsterdam
dtype: object

In [8]:
#Highest scoring destination
import pandas as pd 
dest = pd.read_csv("Destination_Data.csv")
dest.max()

Destinations                         USA
Feedback                              10
Average Hotel Star Rating              5
Number of All inclusive hotels         8
Most Visited city                 Zurich
dtype: object

In [26]:
import pandas as pd 
dest = pd.read_csv("Destination_Data.csv")
dest.[dest(Average Hotel StarRating) > 9]

SyntaxError: invalid syntax (Temp/ipykernel_4456/2157530965.py, line 3)

In [ ]:
import pandas as pd #total number of rows and columns 
dest.shape

(15, 5)